<!DOCTYPE html>
<html lang="en">

<head>
  <title>${description}</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    h3 {
      margin-left: 25px;
      text-align: center;
    }

    a, a:visited {
      color: #3f5dff;
    }

    h3 a {
      margin-left: 10px;
    }

    a:hover, a:focus, a:active {
      color: #001956;
    }

    .power {
      position: absolute;
      bottom: 25px;
      left: 50%;
      transform: translateX(-50%);
    }
  </style>
</head>

<body>
  <h1 style="text-align: center">${name}</h1>
  <p style="text-align: center">Version ${version}</p>
  <br/>
  <h3>OpenAPI spec: <a href="/openapi.json">/openapi.json</a></h4>
  <h3>API Explorer: <a href="/explorer">/explorer</a></h4>

  <footer class="power">
    <a href="https://v4.loopback.io" target="_blank">
      <img src="https://loopback.io/images/branding/powered-by-loopback/blue/powered-by-loopback-sm.png" />
    </a>
  </footer>
</body>

</html>
