.hidden {
  display: none !important;
}

.nav-item {
  cursor: pointer;
}

#main {
  padding: 0;
}

#logo {
  font-family: 'Pacifico', cursive;
  font-size: 28px;
}

#content {
  margin: 17px 0;
}

.product-img {
  height: 300px;
  object-fit: cover;
}

.details-img {
  height: 400px;
  object-fit: cover;
}

#products {
  justify-content: center;
}

#products .card {
  max-width: 290px;
}

.action-buttons {
  position: relative;
  bottom: 0;
}

.description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

#product-header {
  padding: 0;
  margin-bottom: 20px;
}

#productImage {
  border-radius: 3px;
  width: 32px;
  height: 32px;
  object-fit: cover;
}

#pagination {
  margin-top: 20px;
}

#user {
  position: relative;
  right: 20px;
  cursor: pointer;
}

#user img {
  width: 22px;
  margin-right: 5px;
  position: relative;
  top: -1px;
}

#logIn, #logOut {
  display: none;
}

#itemsInCart {
  color: #fff;
  background-color: #dc3545;
  position:relative;
  top: -16px;
  left: -5px;
  border-radius: 9px;
}

.item-in-cart img {
  border-radius: 3px;
  width: 42px;
  height: 42px;
  object-fit: cover;
  margin: 0 15px;
}

.item-in-cart h6 {
  margin: 0 15px;
}

.product-quantity {
  width: 52px !important;
}

#orders {
  width: 900px;
  margin: 0 auto;
  font-size: 13px;
}

#orders .list-group {
  margin-bottom: 10px;
}

#orders table {
  margin-top: 20px;
  font-size: 13px;
}

#orders .list-group {
  list-style: none;
}

.order-total {
  margin: 0 auto;
  width: 200px;
  font-weight: bold;
}

#profile {
  width: 24rem;
  margin: 18px auto;
}

#profile input {
  padding: 1px 8px;
}

#profile-roles {
  margin-top: 14px;
  display: none;
}

#profile-roles label {
  margin: 0 10px 0 2px;
}

#update-profile {
  display: flex;
  justify-content: center
}

#profile-firstName {
  margin-left: 4px;
}

#profile-lastName {
  margin-left: 5px;
}

#profile-email {
  margin-left: 43px;
}

#profile-roles b {
  margin-right: 20px;
}

#profile center {
  padding: 10px;
}

.inline-block {
  display: inline-block;
}

#resetPasswordInit {
  width: 24rem;
  margin: 18px auto;
}

#resetPasswordInit input {
  padding: 1px 8px;
}

#resetPasswordInit-email {
  margin-left: 4px;
}

#resetPasswordFinish {
  width: 24rem;
  margin: 18px auto;
}

#resetPasswordFinish-password {
  float: right;
  margin-left: 4px;
}

